mixin tr_th_td(item)
    if(item)
        tr
            th= item.label
            td= item.value

mixin td(item)
    if(item)
        td= item.value
    else
        td 

block title
    title EEA database on climate change mitigation policies and measures in Europe &mdash; European Environment Agency

block extrajavascripts
    script(type='text/javascript', src='javascripts/pam.details.js')

block content
    if (data)
        div(id="portal-breadcrumbs")
            span(id="breadcrumbs-you-are-here") You are here: 
            span(id="breadcrumbs-home")
                a(href="http://www.eea.europa.eu/") Home
                span(class="breadcrumbSeparator")  / 
            span(id="breadcrumbs-1")
                a(href="./") Climate change policies and measures in Europe
                span(class="breadcrumbSeparator")  / 
            span(id="breadcrumbs-2")
                span(class="breadcrumbs-current")=  data.Name.value

        h1= data.Name.value

        +detail_tables (sections, data)

    else
        div(class = "portalMessage errorMessage")
            span= "PAM with ID: "
            b= pamid 
            span= " does not exist"

    div(class="visualization-info")
        h3 Data sources
        a(href="http://www.eea.europa.eu/data-and-maps/data/climate-change-mitigation-policies-and-measures-1") Climate change mitigation policies and measures
        span  provided by 
        a(href="http://www.eea.europa.eu") European Environment Agency (EEA)
