block title
    title!= head_title

block extrajavascripts
    each script in js_resources.index_page
        script(type='text/javascript', src=script)

block extrastyles
    each style in css_resources.index_page
        link(rel='stylesheet', href=style)

block content
    if (data)
        if (enableBreadcrumbs)
            +portal_breadcrumbs (breadcrumbs, data.Name.value)

        h1= data.Name.value

        +detail_tables (sections, data, "", true)
    else
        +app_error("PAM with ID: ", pamid)

    +visualization_info (dataprovencance_info_url,dataprovencance_info_text)

    div!= further_info
